.profile {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.description {
  padding: 30px;
  background-color: #fff;
}

.avatar {
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.tag,
.location {
  color: #b0b8c1;
  font-weight: bold;
}
